.btn {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}
.flash-slide {
  border: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 0.5rem 0;
  padding: 8px 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.flash-slide::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}
.flash-slide:hover::before {
  left: 290px;
  transition: all 0.5s ease 0s;
}
.flash-slide--green {
  background: var(--green);
}
