.favourites {
  padding: 2rem 0;
}

.intro {
  text-align: center;
}

.faves-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 2rem;
}

.faves {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 1rem;
  width: 100%;
  background-color: var(--light-green);
  margin: 1rem 0;
  padding: 0.8rem;
  box-shadow: 0px 3.43726px 4.29658px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 280px;
}

.faves figure {
  width: 100%;
}

.faves figure img {
  width: 100%;
}

.name {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.price {
  color: var(--dark-green);
  font-weight: bold;
  font-size: 1.1rem;
}

.faves button {
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
}

.faves :last-child :last-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 30px;
}


/* Media Queries */

@media (min-width: 768px) {
  .faves-container {}

  .faves {
    margin-top: 15rem;
    margin-bottom: 5rem;
    /* width: 22vw; */
    width: 200px;
    position: relative;
    gap: 0;
  }

  .faves figure {
    max-width: none;
    position: absolute;
    top: -180px;

    grid-column: 1 / span 2;
    width: fit-content;
  }

  .faves :nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }


  .faves-container :nth-child(1) :nth-child(0) {
    background-color: aqua;
  }
}

@media (min-width: 1024px) {
  /* .faves {
    margin-top: 20rem;
    width: 30vw;
  }

  .faves figure {
    top: -250px;
  } */
}