.menu {
  padding: 1rem 0;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.courses * {
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.active {
  font-weight: 600;
  border-bottom: 2px solid var(--red);
}

.meal-details {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  margin: 1rem 0;
}

.meal-info {
  text-transform: uppercase;
}

.meal-info b {
  letter-spacing: 1px;
}

.meal-info small {
  font-weight: 300;
  font-size: 12px;
}

.price {
  margin-left: auto;
}

/* Media Queries */

@media (min-width: 600px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .courses * {
    font-size: 1.5rem;
  }

  .meal-info b,
  .price * {
    font-size: 1.2rem;
  }

  .meal-info small {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    padding: 3rem 0;
    grid-template-columns: 40% 40%;
    place-content: center space-evenly;
  }
}
