.menu-intro {
  text-align: center;
}

.menu-intro figure {
  width: 100%;
}

.menu-intro figure img {
  width: 100%;
}

.menu-intro article {
  padding: 2rem 0;
}

/* Media Queries */

@media (min-width: 600px) {
  .menu-intro figure {
    height: 300px;
  }
  .menu-intro figure img {
    height: 100%;
    object-fit: cover;
  }
}
