.tgif-bg {
  background: linear-gradient(0deg,
      rgba(22, 39, 20, 0.645),
      rgba(51, 91, 9, 0.474)),
    url("../../images/tortilla.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 2rem 0;
}


.tgif-info {
  padding: 2rem 0;

}

.tgif-info .heading,
.tgif-info .heading span {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 100%;
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 1rem;
}

.tgif-info .heading {
  max-width: 200px;
}

.tgif-info .heading span {
  font-size: 4.5rem;
  font-weight: 900;
  color: var(--red);
}

.tgif-info :nth-child(2) span {
  color: var(--white);
}

.tgif-info p {
  color: var(--white);
  font-weight: 500;
}

/* Media Queries */

@media (min-width: 600px) {
  .tgif-info .heading {
    font-size: 3rem;
    max-width: 400px;
  }

  .tgif-info .heading span {
    font-size: 6.5rem;
  }

  .tgif-info :nth-child(2) span {
    font-size: 1.7rem;
  }

  .tgif-info {
    max-width: 550px;
  }
}