.intro-content {
  padding: 2rem 0;
}

.intro-content figure {
  width: 100%;
}

.intro-content figure img {
  width: 100%;
  padding: 2rem 0;
}

/* Media Queries */

@media (min-width: 600px) {
  .intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }
}

@media (min-width: 1024px) {
  .intro-content {
    grid-template-columns: 40% 35%;
    place-items: center;
    place-content: center space-evenly;
  }
}
