/* Media Queries */

@media (min-width: 768px) {
  .about-offers {
    padding: 2rem 0;
    max-width: 1300px;
    margin-inline: auto;
  }

  .offers-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

  }



  .offers-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    margin: 0 auto;
  }
}