.contact {
  padding: 2rem 0;
}

.contact figure {
  width: 100%;
  padding-bottom: 1rem;
}

.contact figure img {
  width: 100%;
}

.form label {
  display: block;
  padding: 0.5rem 0;
}

.form input,
textarea {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7px);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

@media (min-width: 700px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center normal;
    place-content: center space-evenly;
    padding: 4rem 0;
  }
}

@media (min-width: 1024px) {

  .contact {
    grid-template-columns: 40% 50%;
  }

  .form {
    width: 75%;
    margin: auto;
  }
}