.header {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1516684542079-927175cedbb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-intro {
  padding: 10rem 0 15rem;
  width: 85%;
  max-width: 300px;
}

.header-intro h1,
.header-intro span {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 100%;
  font-weight: 400;
}

.header-intro h1 {
  letter-spacing: 1px;
}

.header-intro h1,
.header-intro p {
  color: var(--white);
}

.header-intro span {
  font-size: 5.5rem;
  color: var(--red);
  font-weight: 900;
}

.header-intro p {
  font-size: 15px;
  text-transform: capitalize;
  margin: 1rem 0;
  line-height: 160%;
}

/* Media Queries */
@media (min-width: 600px) {
  .header-intro {
    margin-left: auto;
    width: 50%;
    max-width: none;
  }
}

@media (min-width: 750px) {
  .header-intro h1 {
    font-size: 4rem;
  }

  .header-intro span {
    font-size: 7rem;
  }

  .header {
    background-position: center;
  }
}
