.heading,
.heading span {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 100%;
}

.heading span {
  color: var(--red);
  font-weight: bold;
}
.heading-sml,
.heading-sml span {
  font-size: 1.5rem;
  font-weight: bold;
}

.heading-sml span {
  color: var(--green);
}

.heading-md,
.heading-md span {
  font-size: 3rem;
}
