.download {
  padding: 2rem 0;
}

.download figure {
  width: 100%;
  padding: 4rem 0;
  margin: auto;
  max-width: 400px;
}

.download figure img {
  width: 100%;
  transform: scale(1.3);
}
.download-info {
  text-align: center;
}

.download-info :first-child {
  padding: 1rem 0;
}

/* Media Queries */

@media (min-width: 600px) {
  .download {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    place-items: center;
  }

  .download figure {
    position: relative;
    left: -80px;
  }

  .download figure img {
    transform: scale(1.5);
  }
  .download-info {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .download {
    padding: 5rem 0;
    grid-template-columns: 40% 30%;
    place-content: center space-evenly;
  }
}
