.download {
  padding: 2rem 0;
}

.download figure {
  width: 100%;
  overflow: hidden;
  padding: 4rem 0;
  margin: 3rem 0;
}

.download figure img {
  width: 100%;
  transform: scale(1.3);
}
.download-info {
  text-align: center;
}

.download-info :first-child {
  padding: 1rem 0;
}
