* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #ff0000;
  --green: #84b121;
}

.paragraph {
  font-size: 1rem;
  line-height: 160.5%;
  text-transform: capitalize;
  padding: 1rem 0;
}
